@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&family=Oswald:wght@300;400;500;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.border-l-r {
  border-left: 2px solid rgba(0, 0, 0, 0.05);
  border-right: 2px solid rgba(0, 0, 0, 0.05);
}

.border-bottom {
  border-bottom: 2px solid rgba(0, 0, 0, 0.05);
}

.border-left {
  border-left: 1px solid rgba(0, 0, 0, 0.05);
}
